body {
    background-image: url(../media/tile.jpg);
}
h1 {
    text-align: center;
    font-family: Lemon;
    position: relative;
    top: 30px;
}
form {
    background-image: url(../media/formbg.jpg);
    height: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
input {
    border: 0;
    width: 20%;
    opacity: 0.5;
}
.task {
    position: relative;
    left: 85px;
    top: 16px;
}
.date {
    position: relative;
    left: 85px;
    top: 25px;
}
.time {
    position: relative;
    left: 85px;
    top: 35px;
}
.submitBtn {
    position: relative;
    left: 85px;
    top: 45px;
}
.resetBtn {
    position: relative;
    left: 85px;
    top: 45px;
}
.note {
    background-image: url(../media/notebg.png);
    width: 150px;
    height: 250px;
    margin-left: 20px;
    margin-right: 20px;
    animation-name: fadeIn;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}
.taskText {
    position: relative;
    width: 130px;
    height: 130px;
    top: 40px;
    left: 10px;
    overflow-wrap: anywhere;
    overflow-y: auto;
}
.taskDate {
    position: relative;
    top: 40px;
    left: 10px;
}
.taskTime {
    position: relative;
    top:  34px;
    left: 10px
}

.closeBtn {
    position: relative;
    top: 20px;
    left: 125px;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@font-face {
    font-family: Lemon;
    src: url(../fonts/Lemon-Regular.ttf);
}